@import "base";


._gl {
    background-color: rgb(247, 247, 247);

    ._c {
        font-size: .8em;
        text-align: right;

        a {
            display: inline-block;
            text-decoration: none;
            color: rgba(0, 0, 0, .44);
            padding: .8em;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

._header {
    background-color: $primary-color;

    ._c {
        align-items: center;
    }

    .logo {
        flex: 1;
        img {
            width: 70px;
        }
    }
    .btn-menu {
        position: relative;
        display: inline-block;
        color: white;
        font-size: .9em;
        padding: 1.7em 1em;
        text-decoration: none;
        margin-right: 1em;

        &::before,
        &::after {
            position: absolute;
            top: calc(50% - .85em);
            content: '';
            display: inline-block;
            width: 1px;
            height: 1.7em;
            background-color: rgba(255, 255, 255, .3);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }

    }
    .btn-entry {
        color: $primary-color;
        border: none;
        background-color: white;
        text-transform: uppercase;
        font-size: .83em;
        padding: .7em 1em;
        border-radius: 2px;
        cursor: pointer;
    }
}
._ban {

    ._c {
        justify-content: center;
        padding-top: 5em;
        padding-bottom: 4em;
    }

    .info-banner {
        width: 500px;
        color: rgba(0,8,38,0.8);
    }

    h1 {
        font-size: 2.8em;
    }
}
._l_ser {
    background-color: #eee;
    text-align: center;
    padding-bottom: 2em;

    h4 {
        font-weight: 500;
        color: #777;
    }
    .list-services {
        display: flex;
        @extend %list-unstyled;

        a {
            display: inline-block;
            background-color: white;
            color: $primary-color;
            text-decoration: none;
            font-weight: 500;
            padding: 5em 0 1em;
            margin: 0 .5em;
            text-align: center;
            width: 157px;
            border-radius: 10px;
            background: white no-repeat center 1em;
            border: 1px solid transparent;

            transition: border-color .2s ease;

            &:hover {
                border-color: $primary-color;
            }

            &.score { background-image: url("../images/score-icon.svg") }
            &.dividas { background-image: url("../images/dividas-icon.svg") }
            &.credito { background-image: url("../images/credito-icon.svg") }
            &.outros { background-image: url("../images/outros-icon.svg") }
        }
    }
}
._n_pr {
    border-bottom: 3px solid $primary-color;
    
    ._c {
        padding-top: 2em;
        
        .title-product {
            margin-bottom: 2em;
        }

        .title-big {
            .fas {
                vertical-align: middle;
                color: #aaa;
                margin-left: 1em;
            }
        }

        .fix {
            display: flex;
            width: 200px;
            height: 100vh;
            align-items: center;
            border: 1px solid red;

            .list-fix {
                @extend %list-unstyled;
                width: 100%;
            }
            .se {
                background: no-repeat center;
                height: 1em;
                background-size: contain;
                transition: .2s ease;

                &::before {
                    content: '';
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    background-color: #bbb;
                    border-radius: 50%;
                }

                &.active {
                    height: 50px;

                    &::before {
                        display: none;
                    }

                    &.se-limpa {
                        background-image: url("../images/serasa-limpa-nome-logo.svg");
                    }
                    &.se-ecred {
                        background-image: url("../images/serasa-ecred-logo.svg");
                    }
                    &.se-score {
                        background-image: url("../images/serasa-score-logo.svg");
                    }
                    &.se-antifraude {
                        background-image: url("../images/serasa-antifraude-logo.svg");
                    }
                    &.se-ensina {
                        background-image: url("../images/serasa-ensina-logo.svg");
                    }
                    &.se-cad-pos {
                        background-image: url("../images/serasa-cadastro-positivo-logo.svg");
                    }
                    &.se-vcep {
                        background-image: url("../images/vcep-logo.svg");
                    }
                }
            }
        }
        .lab {
            flex: 1;

            p {
                color: #888;
            }

            .lab__a {
                display: flex;
                align-items: center;
                height: 100vh;

                & > * {
                    border: 1px solid red;
                }

                .lab__c {
                    flex: 1;
                }

                .title-med {
                    margin: 0;
                }
                .title-big {
                    margin-top: .5em;
                }
                .btn {
                    text-transform: uppercase;
                }
            }
            .lab__i {
                width: 370px;
                height: 100vh;
                background: no-repeat 0 center;
                background-size: 90%;

                &.i_limpa {
                    background-image: url("../images/product-lno.svg");
                }
                &.i_ecred {
                    background-image: url("../images/product-ecred.svg");
                }
                &.i_score {
                    background-image: url("../images/product-score.svg");
                }
                &.i_antifraude {
                    background-image: url("../images/product-antifraude.svg");
                }
                &.i_ensina {
                    background-image: url("../images/product-ensina.svg");
                }
                &.i_cad_pos {
                    background-image: url("../images/product-cadastro-positivo.svg");
                }
                &.i_vcp {
                    background-image: url("../images/product-vcp.svg");
                }
            }
        }
    }
}
._foo {

    padding-bottom: 4em;

    ._c {
        margin: 0 4%;
    }

    .list-foo {
        display: flex;
        @extend %list-unstyled;
        color: #444;
        border-bottom: 1px solid #ccc;
        padding-bottom: 2em;

        & > li {
            flex: 1;
            // border: 1px dashed salmon;
        }

        .title-foo-list {
            font-size: 1.2em;
            font-weight: 500;
        }

        a {
            display: block;
            margin-bottom: 1em;
            text-decoration: none;
            color: #444;
            font-size: .9em;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .ar-info {
        justify-content: space-between;
        padding: 4em 0;
        border-bottom: 1px solid #ccc;
    }

    .list-rede {
        display: flex;
        align-items: center;
        @extend %list-unstyled;
        font-size: 2em;

        a {
            display: inline-block;
            color: $primary-color;
            margin: 0 .8em;
        }

        li {
            &:first-child a {
                margin-left: 0;
            }
        }
    }

    .list-apps {
        display: flex;
        @extend %list-unstyled;

        li:first-child {
            margin-right: 1em;
        }

        a {
            display: inline-block;
            
            img {
                max-width: 100%;
                width: 119px;
                height: 36px;
            }
        }
    }
    .list-secure {
        display: flex;
        @extend %list-unstyled;
    }

    .list-inst {
        display: flex;
        @extend %list-unstyled;
        padding: 4em 0;
        text-align: center;
        font-size: .85em;
        border-bottom: 1px solid #ccc;
    
        & > li {
            flex: 1;
        }

        a {
            display: inline-block;
            color: $primary-color;
            text-decoration: none;
            padding-bottom: .1em;
            border-bottom: 1px solid $primary-color;

            &:hover {
                color: lighten($primary-color, 5);
                border-color: lighten($primary-color, 5);
            }
        }
    }

    address {
        color: #999;
        font-style: normal;
        font-size: .8em;

        p {
            margin: .5em 0;
        }
    }
}