@import "base";


._gl {
    background-color: rgb(247, 247, 247);

    ._c {
        font-size: .8em;
        text-align: right;

        a {
            display: inline-block;
            text-decoration: none;
            color: rgba(0, 0, 0, .44);
            padding: .8em;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

._header {
    background-color: $primary-color;

    ._c {
        align-items: center;
    }

    .logo {
        flex: 1;
        img {
            width: 70px;
        }
    }
    .btn-menu {
        position: relative;
        display: inline-block;
        color: white;
        font-size: .9em;
        padding: 1.7em 1em;
        text-decoration: none;
        margin-right: 1em;

        &::before,
        &::after {
            position: absolute;
            top: calc(50% - .85em);
            content: '';
            display: inline-block;
            width: 1px;
            height: 1.7em;
            background-color: rgba(255, 255, 255, .3);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }

    }
    .btn-entry {
        color: $primary-color;
        border: none;
        background-color: white;
        text-transform: uppercase;
        font-size: .83em;
        padding: .7em 1em;
        border-radius: 2px;
        cursor: pointer;
    }
}
._ban {

    ._c {
        justify-content: center;
        padding-top: 5em;
        padding-bottom: 4em;
    }

    .info-banner {
        width: 500px;
        color: rgba(0,8,38,0.8);
    }

    h1 {
        font-size: 2.8em;
    }
}
._l_ser {
    background-color: #eee;
    text-align: center;
    padding-bottom: 2em;

    h4 {
        font-weight: 500;
        color: #777;
    }
    .list-services {
        display: flex;
        @extend %list-unstyled;

        a {
            display: inline-block;
            background-color: white;
            color: $primary-color;
            text-decoration: none;
            font-weight: 500;
            padding: 5em 0 1em;
            margin: 0 .5em;
            text-align: center;
            width: 157px;
            border-radius: 10px;
            background: white no-repeat center 1em;
            border: 1px solid transparent;

            transition: border-color .2s ease;

            &:hover {
                border-color: $primary-color;
            }

            &.score { background-image: url("../images/score-icon.svg") }
            &.dividas { background-image: url("../images/dividas-icon.svg") }
            &.credito { background-image: url("../images/credito-icon.svg") }
            &.outros { background-image: url("../images/outros-icon.svg") }
        }
    }
}
._n_pr {
    ._c {
        padding-top: 2em;
        margin-bottom: 5em;

        .title-big {
            .fas {
                vertical-align: middle;
                color: #aaa;
                margin-left: 1em;
            }
        }

        .fix {
            width: 200px;

            .list-fix {
                @extend %list-unstyled;
            }
            .se {
                background: no-repeat center;
                height: 1em;
                background-size: contain;
                transition: .2s ease;

                &::before {
                    content: '';
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    background-color: #bbb;
                    border-radius: 50%;
                }

                &.active {
                    height: 50px;

                    &::before {
                        display: none;
                    }

                    &.se-limpa {
                        background-image: url("../images/serasa-limpa-nome-logo.svg");
                    }
                    &.se-ecred {
                        background-image: url("../images/serasa-ecred-logo.svg");
                    }
                    &.se-score {
                        background-image: url("../images/serasa-score-logo.svg");
                    }
                    &.se-antifraude {
                        background-image: url("../images/serasa-antifraude-logo.svg");
                    }
                    &.se-ensina {
                        background-image: url("../images/serasa-ensina-logo.svg");
                    }
                    &.se-cad-pos {
                        background-image: url("../images/serasa-cadastro-positivo-logo.svg");
                    }
                    &.se-vcep {
                        background-image: url("../images/vcep-logo.svg");
                    }
                }
            }
        }
        .lab {
            flex: 1;

            & > * {
                border: 1px dashed salmon;
            }

            p {
                color: #888;
            }

            .lab__c {
                flex: 1;
                .title-med {
                    margin: 0;
                }
                .title-big {
                    margin-top: .5em;
                }
                .btn {
                    text-transform: uppercase;
                }
            }
            .lab__i {
                width: 33%;
            }
        }
    }
}